nodered/Monthly eff.json
[{"id":"fe9e02c5.2939d8","type":"tab","label":"Montly eff","disabled":false,"info":""},{"id":"97f61f75.9ee28","type":"inject","z":"fe9e02c5.2939d8","name":"every sec","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":40,"wires":[["f5e997a.8d56ae8"]]},{"id":"f5e997a.8d56ae8","type":"jquerify","z":"fe9e02c5.2939d8","name":"parse date","func":"msg.timestamp = msg.payload;\nvar date = new Date(msg.timestamp);\nmsg.thisMonth = new Date(date.getFullYear(), date.getMonth(), 1);\nmsg.first = new Date(date.getFullYear(), date.getMonth(), 1);\nmsg.today = new Date(date.getFullYear(), date.getMonth(),  date.getDate());\n\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":80,"wires":[["da5978f7.7bc3f"]]},{"id":"da5978f7.7bc3f","type":"moment","z":"fe9e02c5.2939d8","name":"stDayMonth","topic":"","input":"first","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en_US","output":"first","outputType":"msg","outTz":"Asia/Jakarta","x":150,"y":120,"wires":[["e3342452.5bc338","7a868f9f.950908"]]},{"id":"e3342452.5bc338","type":"debug","z":"fe9e02c5.2939d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":330,"y":120,"wires":[]},{"id":"7f8c7d2.95e1504","type":"jquerify","z":"fe9e02c5.2939d8","name":"get eff this month","func":"var firstDay = msg.first;\nvar today = msg.today;\nmsg.topic = `\n        select \n            m1.cutting m1, m2.cutting m2, m3.cutting m3, \n            case when p1.time is not null \n                then p1.time\n                else '00:00:01'\n            end as plan1,\n            case when p2.time is not null \n                then p2.time\n                else '00:00:01'\n            end as plan2,\n            case when p3.time is not null \n                then p3.time\n                else '00:00:01'\n            end as plan3,\n            m1.date\n        from kikukawa m1\n        left join ncb3 m2 on m1.date = m2.date\n        left join ncb6 m3 on m1.date = m3.date\n        left join planning_kikukawa p1 on m1.date = p1.date\n        left join planning_ncb3 p2 on m2.date = p2.date\n        left join planning_ncb6 p3 on m3.date = p3.date\n        where \n            m1.date >= '${firstDay}' and \n            m1.date <= '${today}'\n    `\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["995a2945.53ee5"]]},{"id":"995a2945.53ee5","type":"mysql","z":"fe9e02c5.2939d8","mydb":"5cabe49d.e9276c","name":"","x":370,"y":200,"wires":[["1d27a89e.f13bb7","6f1c0c82.46545c"]]},{"id":"1d27a89e.f13bb7","type":"debug","z":"fe9e02c5.2939d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":160,"wires":[]},{"id":"8a58428b.257af","type":"debug","z":"fe9e02c5.2939d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":200,"wires":[]},{"id":"6f1c0c82.46545c","type":"jquerify","z":"fe9e02c5.2939d8","name":"eff monthly","func":"var today = new Date(msg.today+' 07:30:00');\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nvar montlyVal = msg.payload;\nvar m1 = 0;\nvar m2 = 0;\nvar m3 = 0;\nvar plan1 = 0;\nvar plan2 = 0;\nvar plan3 = 0;\nmontlyVal.forEach(function(key, value){\n    m1 += key.m1;\n    m2 += key.m2;\n    m3 += key.m3;\n    temp1 = key.plan1.split(':');\n    tplan1 = (+temp1[0] * 60 * 60) + (+temp1[1] * 60) + (+temp1[2]); \n    temp2 = key.plan2.split(':');\n    tplan2 = (+temp2[0] * 60 * 60) + (+temp2[1] * 60) + (+temp2[2]); \n    temp3 = key.plan3.split(':');\n    tplan3 = (+temp3[0] * 60 * 60) + (+temp3[1] * 60) + (+temp3[2]); \n    tpacc = msg.nowInSecond - msg.todayInSecond;\n    if(key.date != msg.today){\n        plan1 += tplan1;\n        plan2 += tplan2;\n        plan3 += tplan3;\n    } else {\n        plan1 += tpacc < tplan1 ? tpacc : tplan1;\n        plan2 += tpacc < tplan2 ? tpacc : tplan2;\n        plan3 += tpacc < tplan3 ? tpacc : tplan3;\n    }\n})\nmsg.payload = {\n            'kikukawa'  : m1/plan1*100 > 100 ? 100: m1/plan1*100,\n            'ncb3'      : m2/plan2*100 > 100 ? 100: m2/plan2*100,\n            'ncb6'      : m3/plan3*100 > 100 ? 100: m3/plan3*100\n        }\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["8a58428b.257af","b9707885.29ffd8"]]},{"id":"b9707885.29ffd8","type":"jquerify","z":"fe9e02c5.2939d8","name":"insert eff","func":"var eff = msg.payload;\nvar k = Object.keys(eff);\nvar v = Object.values(eff);\nvar update = [];\nfor(i=0;i<k.length;i++){\n    update.push(k[i]+'='+v[i]);\n}\nmsg.topic = `\n        insert into monthly \n        (date, ${k.join(',')}) values\n        ('${msg.first}', ${v.join(',')}) \n        on duplicate key update    \n        ${update.join(',')}\n    `;\nmsg.payload = eff;\nmsg.payload.month = msg.first;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":280,"wires":[["581f6248.3d6a3c","c3da087f.9fd648","9f60d3a2.c2fd48"]]},{"id":"7a868f9f.950908","type":"moment","z":"fe9e02c5.2939d8","name":"todayStart","topic":"","input":"timestamp","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"26999","adjType":"seconds","adjDir":"subtract","format":"YYYY-MM-DD","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":150,"y":160,"wires":[["b68536fd.d88748","e3342452.5bc338"]]},{"id":"b68536fd.d88748","type":"moment","z":"fe9e02c5.2939d8","name":"thisMonth","topic":"","input":"timestamp","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"26999","adjType":"seconds","adjDir":"subtract","format":"YYYY-MM-00","locale":"en_US","output":"thisMonth","outputType":"msg","outTz":"Asia/Jakarta","x":150,"y":200,"wires":[["e3342452.5bc338","7f8c7d2.95e1504"]]},{"id":"581f6248.3d6a3c","type":"debug","z":"fe9e02c5.2939d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":590,"y":240,"wires":[]},{"id":"c3da087f.9fd648","type":"mysql","z":"fe9e02c5.2939d8","mydb":"5cabe49d.e9276c","name":"","x":610,"y":280,"wires":[[]]},{"id":"b67ac943.dbc258","type":"websocket in","z":"fe9e02c5.2939d8","name":"ws/monthly","server":"","client":"12804e6c.e5973a","x":130,"y":280,"wires":[["282dcd36.f77132"]]},{"id":"9f60d3a2.c2fd48","type":"websocket out","z":"fe9e02c5.2939d8","name":"","server":"f798170c.a898a","client":"","x":370,"y":320,"wires":[]},{"id":"282dcd36.f77132","type":"debug","z":"fe9e02c5.2939d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":130,"y":320,"wires":[]},{"id":"5cabe49d.e9276c","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"andon_polymodel","tz":""},{"id":"12804e6c.e5973a","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/monthly","tls":"","wholemsg":"false"},{"id":"f798170c.a898a","type":"websocket-listener","z":"","path":"/ws/monthly","wholemsg":"false"}]