nodered/Trigger and Event.json
[{"id":"6b77644c.5afd9c","type":"tab","label":"Trigger and Event","disabled":false,"info":""},{"id":"418f3d7f.abfc2c","type":"modbus-read","z":"6b77644c.5afd9c","d":true,"name":"Modbus Kikukawa","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"","dataType":"Input","adr":"0000","quantity":"0007","rate":"200","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"89b9e377.59ea08","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":130,"y":60,"wires":[["8621b066.1780f","74db072.5bf6ff8"],[]]},{"id":"8621b066.1780f","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":170,"y":20,"wires":[]},{"id":"67843837.d08a38","type":"jquerify","z":"6b77644c.5afd9c","name":"parsing tags","func":"// var tag = msg.payload;\n// msg.payload = {};\n// msg.payload.mesinRun = tag[0];\n// msg.payload.alarm = tag[1];\n// msg.payload.pintuDepan = !(tag[2]&&tag[3]);\n// msg.payload.pintuBelakang = !(tag[4]&&tag[5]);\n// msg.payload.tool1 = !tag[6];\n// msg.payload.tool2 = !tag[7];\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["98a5410a.100db8","af0729bd.dcc158"]]},{"id":"207df4c9.5c814c","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":140,"wires":[]},{"id":"af0729bd.dcc158","type":"jquerify","z":"6b77644c.5afd9c","name":"parsing triggers","func":"var tag = msg.payload;\nmsg.trigger = [];\nvar cutting;\nvar alarm;\nvar dandori;\nvar man;\nvar idle;\nvar bug;\nif(\n    tag.mesinRun && \n    !(\n        tag.alarm||\n        tag.pintuDepan||tag.pintuBelakang||\n        tag.tool1||tag.tool2\n    )\n){\n    msg.trigger.push('cutting');\n    cutting = true;\n}\nif(tag.alarm){\n    msg.trigger.push('alarm');\n    alarm = true;\n}\nif(tag.tool1||tag.tool2){\n    msg.trigger.push('dandori');\n    dandori = true;\n}\nif(\n    (tag.pintuDepan||tag.pintuBelakang) &&\n    !(tag.tool1||tag.tool2)\n){\n    msg.trigger.push('man');\n    man = true;\n}\nif(!(cutting||alarm||dandori||man)){\n    msg.trigger.push('idle');\n    idle = true;\n}\nif(!(cutting||alarm||dandori||man||idle)){\n    msg.trigger = ('bug');\n    msg.bug = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["43effac3.1e85cc","c1c8b6b3.775f98"]]},{"id":"98a5410a.100db8","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":180,"wires":[]},{"id":"fb276917.57745","type":"jquerify","z":"6b77644c.5afd9c","name":"insert eff","func":"var planning = msg.payload[0];\nvar moduls = msg.trigger;\nvar cutting = moduls.includes('cutting') ? planning.cutting + msg.deadband : planning.cutting;\nvar temp = planning.plan.split(':');\nvar tplan = (+temp[0]) * 60 * 60 + (+temp[1]) * 60 + (+temp[2]); \nvar tpacc = msg.nowInSecond - msg.todayInSecond;\nvar accPlan = tpacc < tplan ? tpacc : tplan;\nvar eff = (cutting/accPlan)*100 > 100 ? 100: (cutting/accPlan)*100;\nvar values= [];\nmsg.check = tpacc;\nvalues.push('eff='+eff);\nfor(i=0; i<moduls.length; i++){\n    values.push(moduls[i]+'='+moduls[i]+'+'+msg.deadband);\n}\ncontext.set('timeInSecond',msg.nowInSecond);\nmsg.topic = `\n        insert into kikukawa \n        (date, eff, ${moduls.join(',')}) values\n        ('${msg.today}', ${values.join(',')}) \n        on duplicate key update    \n        ${values.join(',')}\n    `;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":340,"wires":[["42f7621d.151fbc","5d9e7123.afc2a8"]]},{"id":"42f7621d.151fbc","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":340,"wires":[]},{"id":"eba7267f.f47a1","type":"moment","z":"6b77644c.5afd9c","name":"Today","topic":"","input":"timestamp","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"26999","adjType":"seconds","adjDir":"subtract","format":"YYYY-MM-DD","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":170,"y":140,"wires":[["22a24d88.0908c2"]]},{"id":"22a24d88.0908c2","type":"jquerify","z":"6b77644c.5afd9c","name":"context","func":"var today = new Date(msg.today+' 07:30:00');\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(context.get('timeInSecond')){\n   msg.deadband = nowInSecond - context.get('timeInSecond');\n} else {\n    msg.deadband = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":180,"wires":[["207df4c9.5c814c","93da6379.bcadc"]]},{"id":"74db072.5bf6ff8","type":"jquerify","z":"6b77644c.5afd9c","name":"parsing timestamp","func":"msg.timestamp = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":100,"wires":[["eba7267f.f47a1"]]},{"id":"93da6379.bcadc","type":"rbe","z":"6b77644c.5afd9c","name":"Context ready","func":"rbe","gap":"1","start":"","inout":"in","property":"nowInSecond","x":340,"y":180,"wires":[["67843837.d08a38"]]},{"id":"5d9e7123.afc2a8","type":"mysql","z":"6b77644c.5afd9c","mydb":"5cabe49d.e9276c","name":"","x":550,"y":380,"wires":[["28bbdd29.92a41a"]]},{"id":"28bbdd29.92a41a","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":380,"wires":[]},{"id":"421125ff.9199b4","type":"websocket out","z":"6b77644c.5afd9c","name":"","server":"8d30adae.1109a8","client":"","x":290,"y":460,"wires":[]},{"id":"b207480c.7a2b28","type":"websocket in","z":"6b77644c.5afd9c","name":"trigger/kikukawa","server":"","client":"8ebc77b8.2f077","x":100,"y":300,"wires":[["6ba0148f.04ef7c"]]},{"id":"6ba0148f.04ef7c","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":130,"y":260,"wires":[]},{"id":"c1c8b6b3.775f98","type":"jquerify","z":"6b77644c.5afd9c","name":"get planning","func":"var date = msg.today;\nmsg.topic = `\n        select \n        case when p.time is null then '00:00:01' else p.time end as plan, \n        m.cutting, m.alarm, m.dandori, m.man, m.idle\n        from kikukawa m\n        left join planning_kikukawa p on p.date = m.date\n        where \n        m.date = '${date}'\n    `\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["12361276.ab3346","bbc9a162.fc604"]]},{"id":"12361276.ab3346","type":"mysql","z":"6b77644c.5afd9c","mydb":"5cabe49d.e9276c","name":"","x":310,"y":340,"wires":[["e7f463d0.36b2a","f18933d9.9d7ae"]]},{"id":"e7f463d0.36b2a","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":300,"wires":[]},{"id":"43effac3.1e85cc","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":220,"wires":[]},{"id":"b1a5c97f.820be","type":"jquerify","z":"6b77644c.5afd9c","name":"parsing ws","func":"var values = msg.payload[0];\nvar trigger = msg.trigger;\nfor(i=0;i>trigger.length;i++){\n    values[trigger[i]] += deadband;\n}\nvar temp = values.plan.split(':');\nvar tplan = (+temp[0]) * 60 * 60 + (+temp[1]) * 60 + (+temp[2]); \nvar tpacc = msg.nowInSecond - msg.todayInSecond;\nvar accPlan = tpacc < tplan ? tpacc : tplan;\nvar eff = (values.cutting/accPlan)*100 > 100 ? 100: (values.cutting/accPlan)*100;\nmsg.payload = {};\nmsg.payload.trigger = msg.trigger;\nmsg.payload.values = values;\nmsg.payload.values.eff = eff.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":420,"wires":[["9b87f1a9.87d5","421125ff.9199b4"]]},{"id":"9b87f1a9.87d5","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":500,"wires":[]},{"id":"bbc9a162.fc604","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":260,"wires":[]},{"id":"f18933d9.9d7ae","type":"switch","z":"6b77644c.5afd9c","name":"today ready","property":"payload[0].plan","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":380,"wires":[["b1a5c97f.820be","fb276917.57745"],["67887965.2b853"]]},{"id":"67887965.2b853","type":"jquerify","z":"6b77644c.5afd9c","name":"insert eff","func":"var planning = msg.payload[0];\nvar moduls = msg.trigger;\nvar cutting = moduls.includes('cutting') ? msg.deadband : 0;\nvar temp = ('00:00:01').split(':');\nvar tplan = (+temp[0]) * 60 * 60 + (+temp[1]) * 60 + (+temp[2]); \nvar tpacc = msg.nowInSecond - msg.todayInSecond;\nvar accPlan = tpacc < tplan ? tpacc : tplan;\nvar eff = (cutting/accPlan)*100 > 100 ? 100 : (cutting/accPlan)*100;\nvar values= [];\nmsg.check = tplan;\nvalues.push('eff='+eff);\nfor(i=0; i<moduls.length; i++){\n    values.push(moduls[i]+'='+moduls[i]+'+'+msg.deadband);\n}\ncontext.set('timeInSecond',msg.nowInSecond);\nmsg.topic = `\n        insert into kikukawa \n        (date, eff, ${moduls.join(',')}) values\n        ('${msg.today}', ${values.join(',')}) \n        on duplicate key update    \n        ${values.join(',')}\n    `;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":420,"wires":[["9a303936.319b28","6ef22c0.14a4f54"]]},{"id":"9a303936.319b28","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"check","targetType":"msg","x":730,"y":420,"wires":[]},{"id":"6ef22c0.14a4f54","type":"mysql","z":"6b77644c.5afd9c","mydb":"5cabe49d.e9276c","name":"","x":550,"y":460,"wires":[["bf115792.b5f538"]]},{"id":"bf115792.b5f538","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":460,"wires":[]},{"id":"9c4d3999.5ac408","type":"jquerify","z":"6b77644c.5afd9c","name":"for testing purposes","func":"msg.timestamp = new Date();\nchangeTrigger = Math.floor((msg.timestamp/10000) % 5);\nmsg.check = changeTrigger;\nmsg.payload = {};\nmsg.payload.mesinRun = changeTrigger == 0 ? 1 : 0;\nmsg.payload.alarm = changeTrigger == 1 ? 1 : 0;\nmsg.payload.pintuDepan = changeTrigger == 2 ? 1 : 0;\nmsg.payload.pintuBelakang = changeTrigger == 2 ? 1 : 0;\nmsg.payload.tool1 = changeTrigger == 3 ? 1 : 0;\nmsg.payload.tool2 = changeTrigger == 3 ? 1 : 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":100,"wires":[["6b43841e.345b9c","eba7267f.f47a1"]]},{"id":"4ff25c08.ffcdb4","type":"inject","z":"6b77644c.5afd9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":60,"wires":[["9c4d3999.5ac408"]]},{"id":"6b43841e.345b9c","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":60,"wires":[]},{"id":"65877a16.86d634","type":"comment","z":"6b77644c.5afd9c","name":"remove in prod","info":"","x":360,"y":200,"wires":[]},{"id":"58ba6e1a.df0a18","type":"modbus-read","z":"6b77644c.5afd9c","d":true,"name":"Modbus NCB3","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"","dataType":"Input","adr":"0000","quantity":"0007","rate":"200","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"a891d015.cc76","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":140,"y":580,"wires":[["1a286fde.3381d8","114696eb.fab659"],[]]},{"id":"1a286fde.3381d8","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":170,"y":540,"wires":[]},{"id":"cfc9935c.7ff6c","type":"jquerify","z":"6b77644c.5afd9c","name":"parsing tags","func":"// var tag = msg.payload;\n// msg.payload = {};\n// msg.payload.mesinRun = tag[0];\n// msg.payload.alarm = tag[1];\n// msg.payload.pintuDepan = !(tag[2]&&tag[3]);\n// msg.payload.pintuBelakang = !(tag[4]&&tag[5]);\n// msg.payload.tool1 = !tag[6];\n// msg.payload.tool2 = !tag[7];\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":740,"wires":[["6821baed.2faeec","8a022b83.8074f8"]]},{"id":"a5b4f508.4c8038","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":660,"wires":[]},{"id":"8a022b83.8074f8","type":"jquerify","z":"6b77644c.5afd9c","name":"parsing triggers","func":"var tag = msg.payload;\nmsg.trigger = [];\nvar cutting;\nvar alarm;\nvar dandori;\nvar man;\nvar idle;\nvar bug;\nif(\n    tag.mesinRun && \n    !(\n        tag.alarm||\n        tag.pintuDepan||tag.pintuBelakang||\n        tag.tool1||tag.tool2\n    )\n){\n    msg.trigger.push('cutting');\n    cutting = true;\n}\nif(tag.alarm){\n    msg.trigger.push('alarm');\n    alarm = true;\n}\nif(tag.tool1||tag.tool2){\n    msg.trigger.push('dandori');\n    dandori = true;\n}\nif(\n    (tag.pintuDepan||tag.pintuBelakang) &&\n    !(tag.tool1||tag.tool2)\n){\n    msg.trigger.push('man');\n    man = true;\n}\nif(!(cutting||alarm||dandori||man)){\n    msg.trigger.push('idle');\n    idle = true;\n}\nif(!(cutting||alarm||dandori||man||idle)){\n    msg.trigger = ('bug');\n    msg.bug = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":780,"wires":[["c9d73cf9.52284","2b104b5f.5d4254"]]},{"id":"6821baed.2faeec","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":700,"wires":[]},{"id":"e6ebe9f8.0a6118","type":"jquerify","z":"6b77644c.5afd9c","name":"insert eff","func":"var planning = msg.payload[0];\nvar moduls = msg.trigger;\nvar cutting = moduls.includes('cutting') ? planning.cutting + msg.deadband : planning.cutting;\nvar temp = planning.plan.split(':');\nvar tplan = (+temp[0]) * 60 * 60 + (+temp[1]) * 60 + (+temp[2]); \nvar tpacc = msg.nowInSecond - msg.todayInSecond;\nvar accPlan = tpacc < tplan ? tpacc : tplan;\nvar eff = (cutting/accPlan)*100 > 100 ? 100: (cutting/accPlan)*100;\nvar values= [];\nmsg.check = tpacc;\nvalues.push('eff='+eff);\nfor(i=0; i<moduls.length; i++){\n    values.push(moduls[i]+'='+moduls[i]+'+'+msg.deadband);\n}\ncontext.set('timeInSecond',msg.nowInSecond);\nmsg.topic = `\n        insert into ncb3 \n        (date, eff, ${moduls.join(',')}) values\n        ('${msg.today}', ${values.join(',')}) \n        on duplicate key update    \n        ${values.join(',')}\n    `;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":860,"wires":[["f52af3ce.75c76","fcc01150.11da58"]]},{"id":"f52af3ce.75c76","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":860,"wires":[]},{"id":"249f3bb.e0dc1c4","type":"moment","z":"6b77644c.5afd9c","name":"Today","topic":"","input":"timestamp","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"26999","adjType":"seconds","adjDir":"subtract","format":"YYYY-MM-DD","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":170,"y":660,"wires":[["f4889eec.accb38"]]},{"id":"f4889eec.accb38","type":"jquerify","z":"6b77644c.5afd9c","name":"context","func":"var today = new Date(msg.today+' 07:30:00');\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(context.get('timeInSecond')){\n   msg.deadband = nowInSecond - context.get('timeInSecond');\n} else {\n    msg.deadband = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":700,"wires":[["a5b4f508.4c8038","84466092.cbbea"]]},{"id":"114696eb.fab659","type":"jquerify","z":"6b77644c.5afd9c","name":"parsing timestamp","func":"msg.timestamp = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":620,"wires":[["249f3bb.e0dc1c4"]]},{"id":"84466092.cbbea","type":"rbe","z":"6b77644c.5afd9c","name":"Context ready","func":"rbe","gap":"1","start":"","inout":"in","property":"nowInSecond","x":340,"y":700,"wires":[["cfc9935c.7ff6c"]]},{"id":"fcc01150.11da58","type":"mysql","z":"6b77644c.5afd9c","mydb":"5cabe49d.e9276c","name":"","x":550,"y":900,"wires":[["43b7e56c.5adf6c"]]},{"id":"43b7e56c.5adf6c","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":900,"wires":[]},{"id":"9d60a7f4.9f093","type":"websocket out","z":"6b77644c.5afd9c","name":"","server":"301b0ee.b925f72","client":"","x":300,"y":980,"wires":[]},{"id":"e7664ee5.24ad4","type":"websocket in","z":"6b77644c.5afd9c","name":"trigger/ncb3","server":"","client":"d9266c54.60235","x":90,"y":820,"wires":[["82ea5406.879d78"]]},{"id":"82ea5406.879d78","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":130,"y":780,"wires":[]},{"id":"2b104b5f.5d4254","type":"jquerify","z":"6b77644c.5afd9c","name":"get planning","func":"var date = msg.today;\nmsg.topic = `\n        select \n        case when p.time is null then '00:00:01' else p.time end as plan, \n        m.cutting, m.alarm, m.dandori, m.man, m.idle\n        from ncb3 m\n        left join planning_ncb3 p on p.date = m.date\n        where \n        m.date = '${date}'\n    `\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":820,"wires":[["973a047e.aeba38","2f9d700e.96484"]]},{"id":"973a047e.aeba38","type":"mysql","z":"6b77644c.5afd9c","mydb":"5cabe49d.e9276c","name":"","x":310,"y":860,"wires":[["1e44dc5d.4fd4bc","1c9ac8e8.604987"]]},{"id":"1e44dc5d.4fd4bc","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":820,"wires":[]},{"id":"c9d73cf9.52284","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":740,"wires":[]},{"id":"de27c9a9.1e25b8","type":"jquerify","z":"6b77644c.5afd9c","name":"parsing ws","func":"var values = msg.payload[0];\nvar trigger = msg.trigger;\nfor(i=0;i>trigger.length;i++){\n    values[trigger[i]] += deadband;\n}\nvar temp = values.plan.split(':');\nvar tplan = (+temp[0]) * 60 * 60 + (+temp[1]) * 60 + (+temp[2]); \nvar tpacc = msg.nowInSecond - msg.todayInSecond;\nvar accPlan = tpacc < tplan ? tpacc : tplan;\nvar eff = (values.cutting/accPlan)*100 > 100 ? 100: (values.cutting/accPlan)*100;\nmsg.payload = {};\nmsg.payload.trigger = msg.trigger;\nmsg.payload.values = values;\nmsg.payload.values.eff = eff.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":940,"wires":[["a19afb2b.28b9a8","9d60a7f4.9f093"]]},{"id":"a19afb2b.28b9a8","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":1020,"wires":[]},{"id":"2f9d700e.96484","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":780,"wires":[]},{"id":"1c9ac8e8.604987","type":"switch","z":"6b77644c.5afd9c","name":"today ready","property":"payload[0].plan","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":900,"wires":[["de27c9a9.1e25b8","e6ebe9f8.0a6118"],["f2d1d428.dc2bc"]]},{"id":"f2d1d428.dc2bc","type":"jquerify","z":"6b77644c.5afd9c","name":"insert eff","func":"var planning = msg.payload[0];\nvar moduls = msg.trigger;\nvar cutting = moduls.includes('cutting') ? msg.deadband : 0;\nvar temp = ('00:00:01').split(':');\nvar tplan = (+temp[0]) * 60 * 60 + (+temp[1]) * 60 + (+temp[2]); \nvar tpacc = msg.nowInSecond - msg.todayInSecond;\nvar accPlan = tpacc < tplan ? tpacc : tplan;\nvar eff = (cutting/accPlan)*100 > 100 ? 100 : (cutting/accPlan)*100;\nvar values= [];\nmsg.check = tplan;\nvalues.push('eff='+eff);\nfor(i=0; i<moduls.length; i++){\n    values.push(moduls[i]+'='+moduls[i]+'+'+msg.deadband);\n}\ncontext.set('timeInSecond',msg.nowInSecond);\nmsg.topic = `\n        insert into ncb3 \n        (date, eff, ${moduls.join(',')}) values\n        ('${msg.today}', ${values.join(',')}) \n        on duplicate key update    \n        ${values.join(',')}\n    `;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":940,"wires":[["825d45e0.c4a688","78fdd5f8.eea4f4"]]},{"id":"825d45e0.c4a688","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"check","targetType":"msg","x":730,"y":940,"wires":[]},{"id":"78fdd5f8.eea4f4","type":"mysql","z":"6b77644c.5afd9c","mydb":"5cabe49d.e9276c","name":"","x":550,"y":980,"wires":[["7598397.45a3248"]]},{"id":"7598397.45a3248","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":980,"wires":[]},{"id":"845c6431.5bce","type":"jquerify","z":"6b77644c.5afd9c","name":"for testing purposes","func":"msg.timestamp = new Date();\nchangeTrigger = Math.floor((msg.timestamp/10000) % 5);\nmsg.check = changeTrigger;\nmsg.payload = {};\nmsg.payload.mesinRun = changeTrigger == 0 ? 1 : 0;\nmsg.payload.alarm = changeTrigger == 1 ? 1 : 0;\nmsg.payload.pintuDepan = changeTrigger == 2 ? 1 : 0;\nmsg.payload.pintuBelakang = changeTrigger == 2 ? 1 : 0;\nmsg.payload.tool1 = changeTrigger == 3 ? 1 : 0;\nmsg.payload.tool2 = changeTrigger == 3 ? 1 : 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":620,"wires":[["5b75b121.8bfea","249f3bb.e0dc1c4"]]},{"id":"49148dde.33a304","type":"inject","z":"6b77644c.5afd9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":580,"wires":[["845c6431.5bce"]]},{"id":"5b75b121.8bfea","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":580,"wires":[]},{"id":"e4cf2f6b.8c3258","type":"comment","z":"6b77644c.5afd9c","name":"remove in prod","info":"","x":360,"y":720,"wires":[]},{"id":"5297e1f4.aa7ea","type":"modbus-read","z":"6b77644c.5afd9c","d":true,"name":"Modbus NCB6","topic":"","showStatusActivities":true,"logIOActivities":false,"showErrors":true,"unitid":"","dataType":"Input","adr":"0000","quantity":"0007","rate":"200","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"a0eacc6d.3ddd38","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"x":140,"y":1100,"wires":[["750b812f.f37fd","ba6adbdd.d4145"],[]]},{"id":"750b812f.f37fd","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":170,"y":1060,"wires":[]},{"id":"2d8a3a89.b7b4de","type":"jquerify","z":"6b77644c.5afd9c","name":"parsing tags","func":"// var tag = msg.payload;\n// msg.payload = {};\n// msg.payload.mesinRun = tag[0];\n// msg.payload.alarm = tag[1];\n// msg.payload.pintuDepan = !(tag[2]&&tag[3]);\n// msg.payload.pintuBelakang = !(tag[4]&&tag[5]);\n// msg.payload.tool1 = !tag[6];\n// msg.payload.tool2 = !tag[7];\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1260,"wires":[["1b5b8921.35f4ef","44a437ac.018548"]]},{"id":"2e78e605.c6ad0a","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":1180,"wires":[]},{"id":"44a437ac.018548","type":"jquerify","z":"6b77644c.5afd9c","name":"parsing triggers","func":"var tag = msg.payload;\nmsg.trigger = [];\nvar cutting;\nvar alarm;\nvar dandori;\nvar man;\nvar idle;\nvar bug;\nif(\n    tag.mesinRun && \n    !(\n        tag.alarm||\n        tag.pintuDepan||tag.pintuBelakang||\n        tag.tool1||tag.tool2\n    )\n){\n    msg.trigger.push('cutting');\n    cutting = true;\n}\nif(tag.alarm){\n    msg.trigger.push('alarm');\n    alarm = true;\n}\nif(tag.tool1||tag.tool2){\n    msg.trigger.push('dandori');\n    dandori = true;\n}\nif(\n    (tag.pintuDepan||tag.pintuBelakang) &&\n    !(tag.tool1||tag.tool2)\n){\n    msg.trigger.push('man');\n    man = true;\n}\nif(!(cutting||alarm||dandori||man)){\n    msg.trigger.push('idle');\n    idle = true;\n}\nif(!(cutting||alarm||dandori||man||idle)){\n    msg.trigger = ('bug');\n    msg.bug = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":1300,"wires":[["2913f8b5.ade668","e5e22559.9329"]]},{"id":"1b5b8921.35f4ef","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1220,"wires":[]},{"id":"a473550.366d328","type":"jquerify","z":"6b77644c.5afd9c","name":"insert eff","func":"var planning = msg.payload[0];\nvar moduls = msg.trigger;\nvar cutting = moduls.includes('cutting') ? planning.cutting + msg.deadband : planning.cutting;\nvar temp = planning.plan.split(':');\nvar tplan = (+temp[0]) * 60 * 60 + (+temp[1]) * 60 + (+temp[2]); \nvar tpacc = msg.nowInSecond - msg.todayInSecond;\nvar accPlan = tpacc < tplan ? tpacc : tplan;\nvar eff = (cutting/accPlan)*100 > 100 ? 100: (cutting/accPlan)*100;\nvar values= [];\nmsg.check = tpacc;\nvalues.push('eff='+eff);\nfor(i=0; i<moduls.length; i++){\n    values.push(moduls[i]+'='+moduls[i]+'+'+msg.deadband);\n}\ncontext.set('timeInSecond',msg.nowInSecond);\nmsg.topic = `\n        insert into ncb6 \n        (date, eff, ${moduls.join(',')}) values\n        ('${msg.today}', ${values.join(',')}) \n        on duplicate key update    \n        ${values.join(',')}\n    `;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1380,"wires":[["7df77383.e9c794","19447019.e0aff"]]},{"id":"7df77383.e9c794","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1380,"wires":[]},{"id":"c9f53955.2d2728","type":"moment","z":"6b77644c.5afd9c","name":"Today","topic":"","input":"timestamp","inputType":"msg","inTz":"Asia/Jakarta","adjAmount":"26999","adjType":"seconds","adjDir":"subtract","format":"YYYY-MM-DD","locale":"en_US","output":"today","outputType":"msg","outTz":"Asia/Jakarta","x":170,"y":1180,"wires":[["c27c03b.d206b8"]]},{"id":"c27c03b.d206b8","type":"jquerify","z":"6b77644c.5afd9c","name":"context","func":"var today = new Date(msg.today+' 07:30:00');\nmsg.todayInSecond = Math.floor(today/1000);\nmsg.nowInSecond = Math.floor(msg.timestamp/1000);\nif(context.get('timeInSecond')){\n   msg.deadband = nowInSecond - context.get('timeInSecond');\n} else {\n    msg.deadband = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":1220,"wires":[["2e78e605.c6ad0a","c212bdf1.5e4268"]]},{"id":"ba6adbdd.d4145","type":"jquerify","z":"6b77644c.5afd9c","name":"parsing timestamp","func":"msg.timestamp = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":1140,"wires":[["c9f53955.2d2728"]]},{"id":"c212bdf1.5e4268","type":"rbe","z":"6b77644c.5afd9c","name":"Context ready","func":"rbe","gap":"1","start":"","inout":"in","property":"nowInSecond","x":340,"y":1220,"wires":[["2d8a3a89.b7b4de"]]},{"id":"19447019.e0aff","type":"mysql","z":"6b77644c.5afd9c","mydb":"5cabe49d.e9276c","name":"","x":550,"y":1420,"wires":[["6efef5db.87c054"]]},{"id":"6efef5db.87c054","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1420,"wires":[]},{"id":"4b6a1a2a.32c05c","type":"websocket out","z":"6b77644c.5afd9c","name":"","server":"fc7dd470.72c76","client":"","x":300,"y":1500,"wires":[]},{"id":"af8014e.8c08368","type":"websocket in","z":"6b77644c.5afd9c","name":"trigger/ncb6","server":"","client":"627c1098.6cc308","x":90,"y":1340,"wires":[["a82189d7.39272"]]},{"id":"a82189d7.39272","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":130,"y":1300,"wires":[]},{"id":"e5e22559.9329","type":"jquerify","z":"6b77644c.5afd9c","name":"get planning","func":"var date = msg.today;\nmsg.topic = `\n        select \n        case when p.time is null then '00:00:01' else p.time end as plan, \n        m.cutting, m.alarm, m.dandori, m.man, m.idle\n        from ncb6 m\n        left join planning_ncb6 p on p.date = m.date\n        where \n        m.date = '${date}'\n    `\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1340,"wires":[["47cb24b6.3cb154","91904604.a1628"]]},{"id":"47cb24b6.3cb154","type":"mysql","z":"6b77644c.5afd9c","mydb":"5cabe49d.e9276c","name":"","x":310,"y":1380,"wires":[["16faf748.348fd1","a938b2c9.438b3"]]},{"id":"16faf748.348fd1","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1340,"wires":[]},{"id":"2913f8b5.ade668","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1260,"wires":[]},{"id":"6f199366.0e6da4","type":"jquerify","z":"6b77644c.5afd9c","name":"parsing ws","func":"var values = msg.payload[0];\nvar trigger = msg.trigger;\nfor(i=0;i>trigger.length;i++){\n    values[trigger[i]] += deadband;\n}\nvar temp = values.plan.split(':');\nvar tplan = (+temp[0]) * 60 * 60 + (+temp[1]) * 60 + (+temp[2]); \nvar tpacc = msg.nowInSecond - msg.todayInSecond;\nvar accPlan = tpacc < tplan ? tpacc : tplan;\nvar eff = (values.cutting/accPlan)*100 > 100 ? 100: (values.cutting/accPlan)*100;\nmsg.payload = {};\nmsg.payload.trigger = msg.trigger;\nmsg.payload.values = values;\nmsg.payload.values.eff = eff.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":1460,"wires":[["d2a1dfad.2ec15","4b6a1a2a.32c05c"]]},{"id":"d2a1dfad.2ec15","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":1540,"wires":[]},{"id":"91904604.a1628","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1300,"wires":[]},{"id":"a938b2c9.438b3","type":"switch","z":"6b77644c.5afd9c","name":"today ready","property":"payload[0].plan","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":1420,"wires":[["6f199366.0e6da4","a473550.366d328"],["656d3d6.3e19244"]]},{"id":"656d3d6.3e19244","type":"jquerify","z":"6b77644c.5afd9c","name":"insert eff","func":"var planning = msg.payload[0];\nvar moduls = msg.trigger;\nvar cutting = moduls.includes('cutting') ? msg.deadband : 0;\nvar temp = ('00:00:01').split(':');\nvar tplan = (+temp[0]) * 60 * 60 + (+temp[1]) * 60 + (+temp[2]); \nvar tpacc = msg.nowInSecond - msg.todayInSecond;\nvar accPlan = tpacc < tplan ? tpacc : tplan;\nvar eff = (cutting/accPlan)*100 > 100 ? 100 : (cutting/accPlan)*100;\nvar values= [];\nmsg.check = tplan;\nvalues.push('eff='+eff);\nfor(i=0; i<moduls.length; i++){\n    values.push(moduls[i]+'='+moduls[i]+'+'+msg.deadband);\n}\ncontext.set('timeInSecond',msg.nowInSecond);\nmsg.topic = `\n        insert into ncb6 \n        (date, eff, ${moduls.join(',')}) values\n        ('${msg.today}', ${values.join(',')}) \n        on duplicate key update    \n        ${values.join(',')}\n    `;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1460,"wires":[["f48bd03c.57bf78","2b0c5fb5.a1af58"]]},{"id":"f48bd03c.57bf78","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"check","targetType":"msg","x":730,"y":1460,"wires":[]},{"id":"2b0c5fb5.a1af58","type":"mysql","z":"6b77644c.5afd9c","mydb":"5cabe49d.e9276c","name":"","x":550,"y":1500,"wires":[["538aeaa1.09a92c"]]},{"id":"538aeaa1.09a92c","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1500,"wires":[]},{"id":"cdbfaf79.96fa8","type":"jquerify","z":"6b77644c.5afd9c","name":"for testing purposes","func":"msg.timestamp = new Date();\nchangeTrigger = Math.floor((msg.timestamp/10000) % 5);\nmsg.check = changeTrigger;\nmsg.payload = {};\nmsg.payload.mesinRun = changeTrigger == 0 ? 1 : 0;\nmsg.payload.alarm = changeTrigger == 1 ? 1 : 0;\nmsg.payload.pintuDepan = changeTrigger == 2 ? 1 : 0;\nmsg.payload.pintuBelakang = changeTrigger == 2 ? 1 : 0;\nmsg.payload.tool1 = changeTrigger == 3 ? 1 : 0;\nmsg.payload.tool2 = changeTrigger == 3 ? 1 : 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1140,"wires":[["e93aa9f5.c73fb8","c9f53955.2d2728"]]},{"id":"cbd1c400.9399d8","type":"inject","z":"6b77644c.5afd9c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":350,"y":1100,"wires":[["cdbfaf79.96fa8"]]},{"id":"e93aa9f5.c73fb8","type":"debug","z":"6b77644c.5afd9c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":1100,"wires":[]},{"id":"1c890a31.3e02a6","type":"comment","z":"6b77644c.5afd9c","name":"remove in prod","info":"","x":360,"y":1240,"wires":[]},{"id":"89b9e377.59ea08","type":"modbus-client","z":"","name":"ioLogic_kikukawa","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.11","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"5cabe49d.e9276c","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"andon_polymodel","tz":""},{"id":"8d30adae.1109a8","type":"websocket-listener","z":"","path":"/ws/trigger/kikukawa","wholemsg":"false"},{"id":"8ebc77b8.2f077","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/trigger/kikukawa","tls":"","wholemsg":"false"},{"id":"a891d015.cc76","type":"modbus-client","z":"","name":"ioLogic_ncb3","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.12","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"301b0ee.b925f72","type":"websocket-listener","z":"","path":"/ws/trigger/ncb3","wholemsg":"false"},{"id":"d9266c54.60235","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/trigger/ncb3","tls":"","wholemsg":"false"},{"id":"a0eacc6d.3ddd38","type":"modbus-client","z":"","name":"ioLogic_ncb6","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"192.168.1.13","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"fc7dd470.72c76","type":"websocket-listener","z":"","path":"/ws/trigger/ncb6","wholemsg":"false"},{"id":"627c1098.6cc308","type":"websocket-client","z":"","path":"ws://localhost:1880/ws/trigger/ncb6","tls":"","wholemsg":"false"}]